*{
    margin: 0;
}

.table-container{
    width: 550px;
    height: 600px;
    margin-left: 400px;
    margin-top: 100px;

}


table{
    width: 500px;
    height: 500px;
    border-spacing: 1px;
    margin-left: 25px;
    margin-top: 10px;
    border-collapse: collapse;
}
.box{
    width: 150px;
    height: 150px;
    border: 5px solid black;
    text-align: center;
    font-size: 120px;
}
.box:hover{
    background-color: lightslategray;
}

tr:first-child td{
    border-top: none;
}
tr:last-child td{
    border-bottom: none;
}
tr td:first-child{
    border-left: none;
}
tr td:last-child{
    border-right: none;
}

h2{
    text-align: center;
    margin-top: 10px;
}
#restartButton{
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

#restartButton:hover{
    background-color: lightslategray;
    color: white;
}

p{
    font-size: 25px;
    font-weight: bold;
}